.repositoryDetailsDiv{
	border: 1px solid #c0b0b0;
	background: #efefef;
	padding: 15px;
	margin-top: 10px;
}
.repositoryDetailsDescription, .repositoryDetails, .repositoryDetailsUrl, .repositoryDetailsForksUrl, .repositoryDetailHookssUrl{
	padding-top: 5px;
}
.repositoryDetailsMainDiv{
	margin-top: 10%;
}