.repositoryDetailsDiv{
	border: 1px solid #c0b0b0;
	background: #efefef;
	padding: 15px;
	margin-top: 10px;
}
.repositoryDetailsDescription, .repositoryDetails, .repositoryDetailsUrl, .repositoryDetailsForksUrl, .repositoryDetailHookssUrl{
	padding-top: 5px;
	word-wrap: break-word;
}
.repositoryDetailsMainDiv{
	margin-top: 10%;
}
.homePageButton > button{
	float: right;
}
@media(max-width: 450px){
	.homePageButton > button{
		float: none !important;
	}
	.homePageButton{
		margin-top: 3%;
		width: 100% !important;
	}
	.resultsPageButton{
		width: 100% !important;
	}
}