<div class="row" *ngIf="repositoryDetails">
	<div class="hidden-xs col-lg-3"></div>
	<div class="col-xs-12 col-lg-6 repositoryDetailsMainDiv">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-lg-6 resultsPageButton">
				<button class="btn btn-info" (click)="goToResultsPage()">Go To Results Page</button>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-6 homePageButton">
				<button class="btn btn-info" (click)="goToHomePage()">Go To Home Page</button>
			</div>
		</div>
		<div class="repositoryDetailsDiv">
			<div class="row">
				<div class="col-xs-4 col-lg-6">
					<span class="repositoryDetailsName">{{repositoryDetails?.name}}</span>
				</div>
				<div class="col-xs-4 col-lg-3" title="Language">
					<span><i class="fa fa-info-circle fa-lg"></i></span>
					<span class="repositoryDetailsLanguage">{{repositoryDetails?.language}}</span>
				</div> 
				<div class="col-xs-4 col-lg-3" title="Stargazers count">
					<span><i class="fa fa-asterisk" aria-hidden="true"></i></span>
					<span class="repositoryDetailsCount">{{repositoryDetails?.stargazers_count}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<p class="repositoryDetailsDescription">{{repositoryDetails?.description}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<p class="repositoryDetailsUrl">{{repositoryDetails?.url}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<p class="repositoryDetailsForksUrl">{{repositoryDetails?.forks_url}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<p class="repositoryDetailHookssUrl">{{repositoryDetails?.hooks_url}}</p>
				</div>
			</div>
			<div class="row repositoryDetails">
				<div class="col-xs-4 col-lg-4" title="Forks">
					<span><i class="fa fa-code-fork fa-lg"></i></span>
					<span class="repositoryDetailsForks">{{repositoryDetails?.forks}}</span>
				</div>
				<div class="col-xs-4 col-lg-4" title="Watchers">
					<span><i class="fa fa-clock-o fa-lg"></i></span>
					<span class="repositoryDetailsWatchers">{{repositoryDetails?.watchers}}</span>
				</div>
				<div class="col-xs-4 col-lg-4" title="Score">
					<span><i class="fa fa-star-half fa-lg"></i></span>
					<span class="repositoryDetailsScore">{{repositoryDetails?.score}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden-xs col-lg-3"></div>
</div>